<div style="width: 400px">
    <button mat-raised-button (click)="selectStates()">Select States</button>
    &nbsp;
    <mat-form-field>
        <mat-label>Select property</mat-label>
        <mat-select (selectionChange)="propertySelected($event)">
            <mat-option *ngFor="let prop of recordProperties" [value]="prop.value">
                {{prop.label}}
            </mat-option>
        </mat-select>
    </mat-form-field>
</div>
<div style="margin: 0 40%;">{{filterProperty}}</div>
<div style="margin-right: 20px">
    <p-chart type="line" [data]="data"></p-chart>
</div>